.upscroller {
    /*-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: -webkit-transform 0.5s;
	position: fixed;
	left:50%;
	margin-left:-47px;
	top:-50px;
	z-index:9999 !important;
	height: 20px;
	border-radius:20px;
	width: 100px;
	background: #4792e6;
	font-size:14px;
	text-align: center;
	padding: 2px;
	padding-top:3px;
	color: #fff !important;
	cursor: pointer;*/
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: -webkit-transform 0.5s;
    position: fixed;
    left: 50%;
    margin-left: -47px;
    top: -50px;
    z-index: 9999 !important;
    height: 31px;
    border-radius: 4px;
    width: 100px;
    background: #84b943;
    font-size: 32px;
    text-align: center;
    padding: 2px;
    padding-top: 3px;
    color: #fff !important;
    cursor: pointer;
    -moz-box-shadow: rgba(124, 124, 124, 0.71) 1px 1px 3px 1px;
    -webkit-box-shadow: rgba(124, 124, 124, 0.71) 1px 1px 3px 1px;
    box-shadow: rgba(124, 124, 124, 0.71) 1px 1px 3px 1px;
}

    .upscroller.show {
        -webkit-transform: translate3d(0,110px,0);
        transform: translate3d(0,110px,0);
    }

    .upscroller > i {
        width:100%;
        height:100%;
        float:left;
    }