/*-------------------------------Start media query----------------------------------------*/


@media screen and (max-width: 768px) {
    .card-content > .card-content-inner {
        /*min-height: 150px !important;*/
    }
    .insta-item-minus {
        margin-left: 20%;
    }
    .insta-item-plus{
        margin-right: 20%;
    }
}

@media screen and (max-width: 626px) {
    .card-footer > a > span {
        font-size: 12px;
        display: none;
    }
    /*Change store card images when reduce the screen size*/
    .insta-store-img {
        height: 100px;
    }
    /*Card height*/
    .card > .card-content > .card-content-inner > p {
        height: 70px !important;
        text-align: center;
    }

    .prod-grid-price {
        font-size: 21px !important;
    }
}

@media screen and (max-width: 540px) {
    /*Change store card images when reduce the screen size*/
    .insta-store-img {
        height: 90px !important;
    }
}

@media screen and (max-width: 495px) {

    /*icon bag and pricetag hide when width size become 495px*/
    .ion-bag {
        display: none;
    }

    .ion-ios-pricetags {
        display: none;
    }

    .insta-cart-buttons > p {
        width: 263px !important;
    }

    .grid-img {
        height: 35vw !important;
    }
    /*Card height*/
    .card > .card-content > .card-content-inner > p {
        height: 40px !important;
    }

    .prod-grid-price {
        font-size: 12px !important;
    }

    .card-content > .card-content-inner {
        min-height: inherit !important;
    }
}

@media screen and (max-width: 430px) {
    .insta-subnav-label {
        font-size: 11.5px !important;
        margin-left: -7px !important;
    }

    .insta-submanu-icon > .col-20 {
        display: none;
    }

    .insta-remember-check {
        padding-left: 12px !important;
        margin-left: -30px !important;
    }
    /*Change store card images when reduce the screen size*/
    .insta-store-img {
        height: 70px !important;
    }
    
    .insta-item-plus{
        margin-right:10% !important;
    }
    .insta-item-minus{
        margin-left:18% !important;
    }
}

@media screen and (max-width: 350px) {
    .insta-subnav-label {
        font-size: 12.5px !important;
        margin-left: -7px !important;
    }

    .insta-submanu-icon > .col-20 {
        display: none;
    }
    /*Change store card images when reduce the screen size*/
    .insta-store-img {
        height: 60px !important;
    }
    .insta-search input{
        width: 70% !important;
    }
    
    .insta-search{
        margin: 0px 0px 0px 0px !important;
    }
    
    /*top header label font size*/
    .insta-subnav-label{
        font-size:9.5px !important;
    }
    
    
    /*Item card padding*/
    .card{
        margin:3px !important;
    }
    /*card price font size*/
    .prod-grid-price{
        font-size:11.2px !important;
    }
    
    .right >.insta-departm{
        margin-left: 0px;
    }
    
    .insta-item-plus{
        margin-right:18% !important;
    }
    .insta-item-minus{
        margin-left:18% !important;
    }
    
    .insta-cart-button{
        width: 40px !important;
    }
    .insta-item-info > .content-block > .content-block > .insta-item > .card > .card-content > .card-content-inner > p{
        margin-top:50px !important;
    }
    .insta-store-img{
        height:90px !important;
    }
    
    .insta-subnavbar > .insta-departm{
        font-size:15px !important;
    }
}

/*-----------------------------End media query---------------------------------------*/

/*------------------------------Home page styles-------------------------------------*/
/*Page content alignment*/
.page > .page-content {
    margin-top: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 100px;
}

/*Body styles*/
.navbar, .toolbar, .subnavbar {
    background: #01579b;
}

.page > .page-content {
    background-color: #F9F7F3;
}

/*Insta search box*/
.insta-search {
    left: 51.5px;
    font-size: 16px !important;
    /*margin: 0px 10px 0px 20%;*/
    text-align: center;
    margin-right: auto;
    width: 100%;
}

    .insta-search i {
        /*margin: 11px 13px 12px 5px;*/
        margin: 15px 0px 14px 6px;
    }

    .insta-search input {
        font-family: Anaheim;
        background-color: rgba(250, 235, 215, 0);
        color: white;
        border: 0px;
        font-size: 18px;
    }

/*Insta sub navbar*/
.insta-subnavbar {
    background-color: #01579b;
    z-index: initial;
}

    .insta-subnavbar i {
        font-size: 25px;
        margin-right: 12px;
    }

.buttons-row > .content-block {
    width: 100%;
}
/*Insta sub navigation bar label*/
.insta-subnav-label {
    text-transform: capitalize;
    line-height: 20px;
    margin-left: -12px;
    color: white !important;
}

/*Item grid*/
.insta-item {
    text-align: center;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 10px 17px rgba(0, 0, 0, 0.24);
}

    .card > .insta-item-img {
        height: 100px;
        background-repeat: no-repeat;
        color: black;
        float: initial;
        text-align: center;
        background-size: contain;
        margin-left: 4%;
        margin: auto;
        padding: 20px;
        width: 75%;
    }
/*Card container text and card color*/
.card-content-inner {
    background-color: rgba(225, 221, 216, 0.38) !important;
}

    .card-content-inner > p {
        color: black;
    }

.insta-item img {
    height: 123px;
    text-align: center;
}

/*Card price font size*/
.card-content-inner > p > span {
    font-size: 20px;
}

/*Card footer color*/
.card-footer {
    background-color: #01579b;
    color: white;
}
    /*Center add cart text button*/
    .card-footer > a {
        margin: auto !important;
    }
        /*Card footer text size*/
        .card-footer > a > i {
            font-size: 26px;
            margin-right: 9px;
            color: white;
        }

        .card-footer > a > span {
            margin-left: 0px !important;
            color: white;
        }

.insta-item-head {
    background-color: #E1DDD8;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #B9B8B8;
    margin-top: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 10px rgba(0, 0, 0, 0.24);
}

.insta-itemmain-title {
    margin: 4px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

    .insta-itemmain-title i {
        margin-right: 10px;
        color: #01579b;
    }
    .insta-itemmain-title > span {
        white-space: nowrap;
        float: right;
        text-overflow: ellipsis;
        width: 86%;
        overflow: hidden;
    }

.insta-view-more {
    float: right;
}

.color-gray {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.insta-item-title {
    font-size: 15px;
}

/*---------------Menu---------------*/

.insta-menu-foot {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}


    .insta-menu-foot > ul::after {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .insta-menu-foot > ul::before {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .insta-menu-foot > ul > li > a > div > i {
        font-size: 22px;
    }

    .insta-menu-foot > ul > li > a > .item-inner {
        background-image: none !important;
    }

.insta-menu-head {
    margin: -15px;
}

    .insta-menu-head > ul {
        margin: -32px -1px 0px -1px;
        ;
    }

        .insta-menu-head > ul:after {
            background-color: rgba(0, 0, 0, 0) !important;
        }

        .insta-menu-head > ul:before {
            background-color: rgba(0, 0, 0, 0) !important;
        }

        .insta-menu-head > ul > li > a > div > i {
            font-size: 22px;
        }

i.fa.fa-binoculars {
    font-size: 18px;
}

.insta-menu-home {
    background-color: #01579b;
    color: white;
    padding-top: 7px !important;
}


/*Sub menu styles "center to screen and alignment stuffs"*/
.insta-submenu {
    padding-left: 20px;
    left: 0px;
    top: 0;
    width: 100%;
    height: 56px !important;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: white !important;
}

.insta-submanu-icon {
    color: white !important;
}
/*submenu back arrow styles*/
.insta-subnavbar.insta-submenu > .back {
    height: 100%;
}

    .insta-subnavbar.insta-submenu > .back > .left {
        height: 100%;
    }

        .insta-subnavbar.insta-submenu > .back > .left > .icon-back {
            margin-top: 16px !important;
        }

/*------------End Menu--------------*/

/*------------------------------End Home page styles------------------------------------*/

/*--------------------------------Login page styles-------------------------------------*/
.focus-state .label {
    color: #01579b !important;
}

.focus-state:after {
    background-color: #2196f3 !important;
}

.item-input-field.focus-state:after, .input-field.focus-state:after, .item-input-field.not-empty-state:after, .input-field.not-empty-state:after, .focus-state .item-input-field:after, .focus-state .input-field:after, .not-empty-state .item-input-field:after, .not-empty-state .input-field:after {
    background-color: #2196f3 !important;
}

.insta-login {
    background-color: #01579b;
    margin: 0px 0px 0px 0px !important;
    padding-top: 14px;
    max-width: 100% !important;
    height: 57px !important;
}

    .insta-login img {
        height: 50px !important;
    }

.insta-signin {
    background-color: #2196f3;
    color: white !important;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}

.insta-msg-title p {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.insta-msg p {
    color: #01579b;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.insta-footer-label p {
    color: #01579b;
}

.insta-login-cred > span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
}

.insta-login-cred > i {
    margin-right: 10px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #505050;
}

.insta-login-cred > span {
    margin-left: 10px !important;
}

.insta-remember-check {
    padding-left: 40px !important;
}

    .insta-remember-check > .item-inner {
        margin-left: 0px !important;
    }

    .insta-remember-check > .item-media {
        margin-left: 28%;
    }

        .insta-remember-check > .item-media > i {
            border-color: #2196f3 !important;
            background-color: #2196f3 !important;
        }

.login-screen-content {
    padding-bottom: 0px !important;
}

/*--------------------------------End Login page styles---------------------------------*/

/*-------------------------------Department Screen-------------------------------------*/

.insta-department {
    font-family: 'Open Sans', sans-serif;
}

.insta-departm {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

.insta-department-list:after {
    background-color: rgba(0, 0, 0, 0) !important;
}

.insta-department-list:before {
    background-color: rgba(0, 0, 0, 0) !important;
}

.insta-department-items {
    background-image: inherit !important;
}

    .insta-department-items > .item-title {
        font-size: 15px;
    }

.insta-department-content {
    width: 90% !important;
    padding-left: 35px !important;
}

/*---------------------------End Department Screen-------------------------------------*/

/*-------------------------------Department Screen-------------------------------------*/
.insta-store-img {
    height: 120px;
    border: 4px solid #01579b;
}

.insta-store-col {
    text-align: center;
}
/*---------------------------End Department Screen-------------------------------------*/

/*-------------------------------Item Info---------------------------------------------*/
.insta-card-info {
    margin: -18px !important;
}

a.button.button-fill.button-raised.insta-item-plus {
    margin-left: 0px;
}

.insta-item-plus {
    background-color: #2196f3 !important;
    margin-right: 25%;
    border-radius: 0px 7px 7px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.insta-item-minus {
    background-color: #2196f3 !important;
    margin-left: 25%;
    border-radius: 7px 0px 0px 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.insta-item-qty {
    width: 60%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.insta-info-fav {
    /*margin-top: 10px;*/
    margin-left: auto;
    padding-left: 24px;
    height: 100%;
}

    .insta-info-fav > a > i {
        color: white;
        margin-top: 18px;
    }

.insta-item-info {
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------End Item Info----------------------------------------------*/

/*---------------------------Start Cart Screen----------------------------------------------*/

.insta-cart-list {
    font-family: 'Open Sans', sans-serif;
    color: #505050;
}

    .insta-cart-list:before {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .insta-cart-list:after {
        background-color: rgba(0, 0, 0, 0) !important;
    }

.insta-cart-buttons {
    margin-top: 0px !important;
}

.insta-cart-button {
    width: 75px;
}

.insta-cart-checkout-btn {
    background-color: #df5b1a !important;
    border-radius: 6px;
}

    .insta-cart-checkout-btn > i {
        margin-right: 12px;
        font-size: 18px;
    }

.insta-cart-li {
    margin-top: -20px !important;
}

    .insta-cart-li > .item-link > .item-inner > .item-title-row {
        margin-top: 15px !important;
    }

.insta-cart-minus {
    background-color: #2196f3 !important;
    margin-left: 2% !important;
    border-radius: 7px 0px 0px 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/*---------------------------End Cart Screen----------------------------------------------*/

/*---------------------------Check Out Screen----------------------------------------------*/

.insta-checkot-list-block {
    margin-left: 0px !important;
    width: 100% !important;
}

.insta-checkout-ul {
    padding-left: 0px !important;
}

    .insta-checkout-ul > li > label {
        padding-left: 0px !important;
    }

.insta-checkout-rdio-btn-title {
    margin-top: 5px !important;
}

.insta-checkout-content-block-title {
    margin-bottom: -15px !important;
    font-size: 14px !important;
}

/*radio button color change*/
label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio, label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio, label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio, label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio {
    border-color: #2196f3 !important;
}

    label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after, label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after {
        background-color: #2196f3 !important;
    }

.insta-checkout-back-btn {
    background-color: #2196f3 !important;
    border-radius: 6px;
}

.insta-checkout-form ul:before {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*---------------------------End Check Out Screen------------------------------------------*/

/*---------------------------Sub Department Screen------------------------------------------*/
.insta-sub-department {
    font-family: 'Open Sans', sans-serif;
}
/*---------------------------End Sub Department Screen---------------------------------------*/

/*--------------------------Address Select Screen--------------------------------------------------*/

.insta-address-select {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #616161 !important;
}
/*--------------------------Address Select Screen--------------------------------------------------*/

/*--------------------------Credit Card Screen-----------------------------------------------------*/

.insta-credit-card-img {
    text-align: center;
}

    .insta-credit-card-img > img {
        height: 150px !important;
    }

/*--------------------------End Credit Card Screen--------------------------------------------------*/

/*--------------------------User panel-----------------------------------------------------*/

.buddy-user-block {
    background-color: #2196f3 !important;
    color: #fff;
}

/*--------------------------End Credit Card Screen--------------------------------------------------*/

/*--------------------------Achievement percentage-----------------------------------------------------*/

.achive_precentage{
    font-size: 40px;
    margin-right: 25px;
    color: #2196f3;
}

/*--------------------------End Achievement  percentage--------------------------------------------------*/

/*--------------------------Align-left-----------------------------------------------------*/
.buddy-icon-left{
    float: right;
    margin-right: 10px;
    font-size: 25px;
    color: #fff;
}
/*--------------------------buddy-align-left-----------------------------------------------------*/